/* Colors 
****************************/
$brightGreen: #2ecc71;
$lightGreen: #62d995;
$darkGrey: #e3e3e3;
$lightGrey: #d4d4d4;
$textGrey: #848484;
$textWhite: #ffffff;
$textBlack: #222222;

/* Widths and units
*****************************/
$desktopWidth: 1180px;
$sectionPaddingDT: 60px 0px;
$sectionPaddingLTablet: 60px 20px;
$sectionPaddingPTablet: 40px 20px;